<div class="mt-10 pt-10" data-aos="fade-up">
  <div class=" max-w-screen-lg container mx-auto">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-xl font-medium px-3">
        Địa điểm
      </h6>
      <h1 class="mb-3 text-xl">Điểm đến phổ biến</h1>
    </div>
    <div class="">
      <div *ngIf="listDestinationshot && listDestinationshot.length > 0">
        <div class="w-full grid grid-cols-4 gap-4">
          <div *ngFor="let item of listDestinationshot">
            <a class="flex p-6 rounded-lg shadow-lg border bg-white hover:bg-orange-500 hover:text-white"
              routerLink="/tour/destinations/{{ item.id }}">
              <div>
                <div class=" flex justify-center items-center overflow-hidden" *ngIf="item.image.length > 0">
                  <img alt="image location" class="rounded-lg"
                    [src]="'data:image/' + item?.image[0]?.type+ ';base64,' + item?.image[0]?.data" width="100%">
                </div>
                <div class="flex justify-center items-center" *ngIf="item.image.length === 0">
                  <img alt="noimg" class="rounded-lg" src="assets/img/noIMG.jpg" width="100%" />
                </div>
                <div class="mt-3 text-center">
                  <span class="">{{ item.name }}</span><br>
                  <span class="">{{item.province}}</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>